<!DOCTYPE html>
<html>
  <head>
    <title>Tamagotchi</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container text-center">
      <h2>Tamagotchi</h2>
      <hr>
      <a href='/pets/new'>Start your game</a>
      <br>
    </div>
  </body> 
</html>