@using Tamagotchi.Models;

<!DOCTYPE html>
<html>
  <head>
    <title>Your Menagerie</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container text-center">
      <h1>Your Menagerie</h1>
      <hr>
      @foreach(Pet pet in Model)
      {
        <div class="row">
          <p>@pet.Name - Food: @pet.Food - Attention: @pet.Attention - Rest: @pet.Rest</p>
          <div class="col-md-3">

          </div>
          <div class="col-md-2">
            <form action="/feed/@pet.Id" method="post">
              <button type="submit">Feed</button>
            </form>
          </div>
          <div class="col-md-2">
            <form action="/play/@pet.Id" method="post">
              <button type="submit">Play</button>
            </form>
          </div>
          <div class="col-md-2">
            <form action="/sleep/@pet.Id" method="post">
              <button type="submit">Sleep</button>
            </form>
          </div>
          <div class="col-md-3">
            
          </div>
          <hr>
        </div>
      }
      <hr>
      <form action="/pets" method="post">
        <label for="petName">Pet's name:</label>
        <input id="petName" name="petname" type="text">
        <button type="submit">Add another!</button>
      </form>
    </div>
  </body> 
</html>